<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yisu.mapper.OrderMapper">

    <resultMap id="Order" type="com.yisu.model.Order" >
        <result column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_user" property="createUser" />
        <result column="update_user" property="updateUser" />
        <result column="delete_flag" property="deleteFlag" />
        <result column="order_no" property="orderNo" />
        <result column="payment" property="payment" />
        <result column="payment_type" property="paymentType" />
        <result column="payment_type_desc" property="paymentTypeDesc" />
        <result column="postage" property="postage" />
        <result column="status" property="status" />
        <result column="status_desc" property="statusDesc" />
        <result column="payment_time" property="paymentTime" />
        <result column="address_id" property="addressId" />
        <result column="receive_name" property="receiveName" />
        <result column="receive_phone" property="receivePhone" />
        <result column="province" property="province" />
        <result column="city" property="city" />
        <result column="area" property="area" />
        <result column="street" property="street" />
        <result column="postal_code" property="postalCode" />
        <result column="user_id" property="userId" />
    </resultMap>

    <sql id="Base_Column_List">
        `id`,
        `create_time`,
        `update_time`,
        `create_user`,
        `update_user`,
        `delete_flag`,
        `order_no`,
        `payment`,
        `payment_type`,
        `payment_type_desc`,
        `postage`,
        `status`,
        `status_desc`,
        `payment_time`,
        `address_id`,
        `receive_name`,
        `receive_phone`,
        `province`,
        `city`,
        `area`,
        `street`,
        `postal_code`,
        `user_id`
    </sql>



</mapper>
