<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yisu.mapper.OrderStatusRecordMapper">

    <resultMap id="OrderStatusRecord" type="com.yisu.model.OrderStatusRecord" >
        <result column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="order_no" property="orderNo" />
        <result column="order_detail_no" property="orderDetailNo" />
        <result column="product_id" property="productId" />
        <result column="product_name" property="productName" />
        <result column="status" property="status" />
        <result column="status_desc" property="statusDesc" />
    </resultMap>

    <sql id="Base_Column_List">
        `id`,
        `create_time`,
        `order_no`,
        `order_detail_no`,
        `product_id`,
        `product_name`,
        `status`,
        `status_desc`
    </sql>



</mapper>
