<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yisu.mapper.ProductMapper">

    <resultMap id="Product" type="com.yisu.model.Product" >
        <result column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_user" property="createUser" />
        <result column="update_user" property="updateUser" />
        <result column="delete_flag" property="deleteFlag" />
        <result column="product_id" property="productId" />
        <result column="category_id" property="categoryId" />
        <result column="name" property="name" />
        <result column="sub_title" property="subTitle" />
        <result column="main_image" property="mainImage" />
        <result column="sub_images" property="subImages" />
        <result column="activity_id" property="activityId" />
        <result column="status" property="status" />
        <result column="price" property="price" />
        <result column="stock" property="stock" />
    </resultMap>

    <sql id="Base_Column_List">
        `id`,
        `create_time`,
        `update_time`,
        `create_user`,
        `update_user`,
        `delete_flag`,
        `product_id`,
        `category_id`,
        `name`,
        `sub_title`,
        `main_image`,
        `sub_images`,
        `activity_id`,
        `status`,
        `price`,
        `stock`
    </sql>



</mapper>
